---
layout: default
overtitle: ""
title: Acquaticità a Torino dal 1980
description: Acquaticità per grandi e piccoli, acqua fitness, corsi preparto e ginnastica artistica nel centro di Torino.
featured_image: /images/social.jpg
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap grid">
			<div class="title">
				<p class="subtitle">{{ page.overtitle }}</p>
				<h1>{{ page.title }}</h1>
			</div>

			<p class="intro subtitle--light">
				{{ page.description }}
				<span class="cta buttons">
					<a href="#" class="hero__cta button--fill contact-trigger js-contact">Contattaci</a>
					<a href="#" class="button--outline"  >Scopri i Corsi</a>
				</span>
			</p>

		</div>
	</section>

	{% include post-components/gallery.html
		columns = 1
		full_width = true
		images = "/images/acquaticità.jpg,/images/demo.jpg,/images/acquaticità.jpg
		"
	%}

	<section class="corsi-piscina">
		<div class="wrap grid">
			<header class="corsi-piscina__header">
				<h4>I nostri corsi</h4>
			</header>
				<div class="grid__3-col">
					{% include component__card.html
						url = "/acquaticità-bambini"
						image = "/images/acquaticità.jpg"
						title= "Per i più piccoli"
						paragraph= "Corsi di acquaticità per bambini da 0 a 7 anni"
					%}
					{% include component__card.html
						url = "/adulti"
						image = "/images/acquaticità.jpg"
						title= "Per i più grandi"
						paragraph= "Corsi di acquaticità e acqua fitness per adulti per acquistare confidenza in acqua e stare in forma"
						%}
					{% include component__card.html
						url = "/corsi/future-mamme"
						image = "/images/acquaticità.jpg"
						title= "Per chi è in dolce attesa"
						paragraph= "paragraph"
						%}
				</div>
		</div>
	</section>


	{% include section_home_palestra.html %}



</div>
