<section class="about iscrizioni">
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/acquaticità.jpg' | relative_url }}" alt="">
    </div>

    <div class="about__content">
      <h5 class="title">Costi ed iscrizioni</h2>
      <p class="subtitle subtitle--light">
        I corsi hanno durata trimestrale, le iscrizioni vengono fatte da a.
        Per informazioni sui costi e verificare la disponibilità non esitate a contattarci via mail o telefonicamente.
      </p>
      <a href="#" class="cta button--fill contact-trigger js-contact">Contattaci</a>
    </div>

  </div>
</section>
