<section class="about regolamento">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__content">
      <h5 class="title">
        {{include.title}}
      </h5>
      <p class="subtitle subtitle--light">
        {{include.subtitle}}
      </p>

      <ul>
      {% for regola in include.regole %}
      <li>{{regola}}</li>
      {% endfor %}
    </ul>
    <br>

    <p>
    Ci teniamo alla sicurezza delle persone che entrano in acqua!
    </p>
    <a href="/sicurezza-in-acqua" class="post__link button--text--accent --right"> Regolamento prevenzione covid</a>

    </div>

    <div class="about__image">
      <img src="{{ include.img | relative_url }}" alt="">
    </div>
  </div>
</section>
