<section class="about spazi-summary section_home_palestra">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ include.img | relative_url }}" alt="">
    </div>

    <div class="about__content">
      <h5 class="title">
        {{include.title}}
      </h5>
      <p class="subtitle subtitle--light">
        {{include.paragraph}}
      </p>
      <a href="/spazi-palestra" class="post__link button--text--accent --right reveal-full-post-content">{{include.cta}}</a>
    </div>

  </div>
</section>
