.post-full{
  background-color: $background_alt_color;
  max-height: 10000px;
  overflow: hidden;

  @include transition(all 2s ease-in-out !important);

  &.collapsed{
    max-height: 1px;
  }
}

.orario-table{



  .orario-navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0px;

    .orario-label{
      margin: 0 10px;
      padding: 5px 10px;
      border-radius: 50px;
      cursor: pointer;
      @include transition(margin .5s ease-in-out );

      &:hover{
        margin: -5px 10px 5px 10px;
      }
    }
  }


  table{
    width: 100%;
    margin-top: 40px;

    th{
      padding-bottom: 16px;
    }
    td{
      border-bottom: 1px solid $background_alt_color;
      @include transition(all .6s ease-in-out );

      &.highlight{
      }
      &.hide{
        background-color: #fff !important;
        color: $text_medium_color;
      }
    }
  }

  .orario-label, td{
    &.acquaticità-0-1{
      background-color: darken($color: $accent_bambini, $amount: 20);
      color: #fff;
    }
    &.acquaticità-1-2{
      background-color: darken($color: $accent_bambini, $amount: 10);
      color: #fff;
    }
    &.acquaticità-0-2{
      background-color: lighten($color: $accent_bambini, $amount: 0);
      color: #fff;
    }
    &.acquaticità-1-3{
      background-color: lighten($color: $accent_bambini, $amount: 10);
      color: #fff;
    }
    &.acquaticità-2-3{
      background-color: lighten($color: $accent_bambini, $amount: 20);
      color: #fff;
    }
    &.acquaticità-3-4{
      background-color: lighten($color: $accent_bambini, $amount: 30);
      color: darken($color: $accent_bambini, $amount: 20);
    }
    &.acquaticità-2-4{
      background-color: lighten($color: $accent_bambini, $amount: 40);
      color: darken($color: $accent_bambini, $amount: 20);
    }
  }
}
