---
layout: default
---

{% if page.accent_color %}
	{% capture accent_color %}
		{{ page.accent_color }}
	{% endcapture %}
{% endif %}

<div class="page-project" style="--accent: {{ accent_color }}">

	<header class="post__header header--single">
		<div class="wrap">
			<h1 class="post__title">{{ page.title }}</h1>
			<h2 class="post__subtitle subtitle--light">{{ page.subtitle }}</h2>
		</div>
		<img src="{{ page.featured_image }}" class="post__featured-image">
	</header>

	<section class="course-section-intro">
		{% include component__course-intro.html
			image = page.first-block-image
			video= page.first-block-video
			title= page.first-block-title
			subtitle= page.first-block-subtitle
			description= page.first-block-description
			%}
	</section>

	<section class="post-full collapsed" id="expandable">
		<div class="wrap">
			<div class="post__content {% if page.highlight_first %}highlight-first{% endif %}">
				{{ page.content }}
			</div>
		</div>
	</section>

		{% for orario in site.orari %}

			{% if orario.for_course == page.course_filter %}

			{% include component__course-timetable.html
				title = orario.title
				tags= orario.corsi
				content = orario.content
				corsi=orario.corsi
				%}
			{% endif %}
		{% endfor %}

		{% if page.category != "ginnastica" %}
		{% include component__course-regolamento.html
			img=page.regolamento-img
			title="Regolamento"
			subtitle=page.regolamento-subtitle
			regole=page.regolamento-regole
			%}
			{% endif %}


		{% include component__course-iscrizioni.html %}


</div>
